<!DOCTYPE html>
<html>
<head>
    <title>Trend 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spotify2.css') }}">
</head>
<body>
    <h2>
        Explore the evolution of popular playlist lengths over time with our web application. Gain insights into how the duration of popular playlists has changed over different time periods. Analyze trends and discover the dynamics of playlist lengths, uncovering the evolution of music preferences and trends.
    </h2>
    <h3>QUERY 1 [Average length of each playlist (among the top X playlists) over the past Y years]</h3>

    <form method="post" class="form-inline" action="/trend_1">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select</span>
                <select name="Dropdown" class="selectpicker form-control">
                  {% for r in data1 %}  
                  <option value="{{ r }}">{{ r  }}</option>
                  {% endfor %}                                     
                </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>


    <!-- <img src="{{url_for('static', filename='trend_query_3.html')}}"/> -->

    <table border="1">
        <tr>
            <th>Year</th>
            <th></th>
            <th>Genres of playlists over time</th>
            <th>Genders of playlist artists over time</th>
            <th>Throwback popularity over time</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Replace the iframe with a div for the bar graph -->
    <div id="barGraph" style="width: 1000px; height: 500px; background-image: url('https://www.example.com/path/to/your/image.png'); background-size: contain;"></div>

</body>
</html>
